OPENCLAW_IMAGE=openclaw:local
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_GATEWAY_TOKEN=replace-with-a-random-64-char-hex-token
OPENCLAW_HOME_VOLUME=openclaw_home_secure
OPENCLAW_MEM_LIMIT=2g
OPENCLAW_CPUS=2.0
OPENCLAW_CLI_MEM_LIMIT=2g
OPENCLAW_CLI_CPUS=1.0
OPENCLAW_NODE_MAX_OLD_SPACE_MB=1024
CLAUDE_AI_SESSION_KEY=
CLAUDE_WEB_SESSION_KEY=
CLAUDE_WEB_COOKIE=
